{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h3>Lista graczy</h3><br>


    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Imię i nazwisko</th>
        </tr>
        {%  for gracz in gracze %}
        <tr>
            <td>{{ gracz.id }}</td>
            <td>{{ gracz.imie_nazwisko }}</td>
            <td><form action="{% url 'usun_gracza_view' gracz.id %}" method="POST"> {% csrf_token %}
                    <button type="submit">Usuń gracza</button>
            </form></td>
        </tr>
        {% endfor %}
    </table>
    <form action="{% url 'dodaj_gracza_view' %}" method="POST"> {% csrf_token %}
        <button type="submit">Dodaj gracza</button>
    </form>
{% else %}
    <a href="/login">Zaloguj się</a>
{% endif %}

{% endblock %}