{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {%  for turniej in turnieje %}
<h3>Turniej {{ turniej.nazwa }}</h3><br>
        ID {{ turniej.id }}<br>
        Ilość graczy {{ turniej.ilosc_graczy }}<br>
        Data rozpoczęcia {{ turniej.data_rozpoczecia }}<br>
        Autor {{ turniej.autor }}<br>
    {% endfor %}
    <br>
    Mecze<br>
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>ID turnieju</th>
            <th>Faza</th>
            <th>Gracz 1</th>
            <th>Gracz 2</th>
            <th>Wynik gracza 1</th>
            <th>Wynik gracza 2</th>
            <th>Zwycięzca</th>
        </tr>
        {%  for mecz in mecze %}
        <tr>
            <td>{{ mecz.id }}</td>
            <td>{{ mecz.id_turnieju }}</td>
            <td>{{ mecz.faza }}</td>
            <td>{{ mecz.id_gracza1 }}</td>
            <td>{{ mecz.id_gracza2 }}</td>
            <td>{{ mecz.wynik_gracza1 }}</td>
            <td>{{ mecz.wynik_gracza2 }}</td>
            <td>{{ mecz.wygrana }}</td>
            <td><form action="{% url 'edytuj_mecz_view' mecz.id turniej_id %}" method="POST"> {% csrf_token %}
                    <button type="submit">Edytuj</button>
            </form>
            <form action="{% url 'usun_mecz_view' mecz.id turniej_id %}" method="POST"> {% csrf_token %}
                    <button type="submit">Usun</button>
            </form></td>
        </tr>
        {% endfor %}
    </table>
    </br>
    <form action="{% url 'dodaj_mecz_view' turniej_id %}" method="POST"> {% csrf_token %}
        <button type="submit">Dodaj mecz</button>
    </form>

    </br>

    <h5>Lista graczy w turnieju</h5><br>
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>ID turnieju</th>
            <th>Imię i nazwisko</th>
        </tr>
        {%  for gracz in gracze_w_turnieju %}
        <tr>
            <td>{{ gracz.id }}</td>
            <td>{{ gracz.turniej }}</td>
            <td>{{ gracz.gracz }}</td>
            <td><form action="{% url 'usun_gracza_z_turnieju_view' gracz.id turniej_id %}" method="POST"> {% csrf_token %}
                    <button type="submit">Usuń gracza z turnieju</button>
            </form></td>
        </tr>
        {% endfor %}
    </table></br>

    <form action="{% url 'dodaj_gracza_do_turnieju_view' turniej_id %}" method="POST"> {% csrf_token %}
        <button type="submit">Dodaj gracza do turnieju</button>
    </form>



{% else %}
    <a href="/login">Zaloguj się</a>
{% endif %}
{% endblock %}